/***********************************************
            /** Stormy Header //*
***********************************************/

.header {
    background-color: #039be5;
    height: 65px;
    margin:0px auto;
    -webkit-box-shadow: 2px 3px 3px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 3px 0px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 3px 3px 0px #ccc;
}

.stormy-logo {
    width: 60px;
    float: left;
    padding: 2px 20px 10px 300px;
}

.stormy-title {
    display: inline-block;
    float: left;
    padding: 0 0 0 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.location-form {
    float: right;
    padding: 21px 23px 23px;
    display: inline-block;
}

.input-group, .location-button {
    height: 25px;
}

.input-group::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 10px;
 }

.location-button {
    height: 27px;
    width: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 50px;
    cursor: pointer;
    border: #2654d0;
    color: white;
   background-color: #ffc107;
}

.input-group {
    width: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    padding-left: 10px;
}

.place-icon {
    width: 34px;
    float: right;
    padding-top: 4px;
    padding-left: 5px;
}

.city {
    display: inline-block;
    color: white;
    border-radius: 20px;
    font-size: 1.1em;
    float: right;
    padding-right: 15px;
    margin-top: 12px;
}

.location-div {
    display: inline-block;
    color: white;
    border-radius: 20px;
    background-color: #ffc107;
    height: 45px;
    float: right;
    padding: 0;
    margin-top: 10px;
}