/***********************************************
            /** Stormy Header //*
***********************************************/

.content {
    background-color: #039be5;
    height: 65px;
    margin:0px auto;
    -webkit-box-shadow: 2px 3px 3px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 3px 0px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 3px 3px 0px #ccc;
}

.delete-button {
    float: right;
}

.location-icon-menu {
    padding-top: 10px;
    margin-left: 70px;;
    margin-right: 20px;
}

.location-drop {
    float: left;
    background: none;
    border: none;
    width: 200px;
    padding-left: 57px;
}
.stormy-logo {
    width: 60px;
    float: left;
    padding: 2px 20px 10px 100px;
}

.stormy-title {
    display: inline-block;
    float: left;
    padding: 0 0 0 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.autocomplete {
    display: inline-block;
    float: right;
    margin: 21px 23px 7px 21px;
    height: 25px;
    width: 30%;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
}

.place-icon {
    width: 34px;
    float: right;
    padding: 4px 4px 4px;
}

.city {
    display: inline-block;
    color: white;
    border-radius: 20px;
    font-size: 1.1em;
    float: right;
    padding-right: 15px;
    margin-top: 12px;
}

.location-button {
    display: inline-block;
    color: white;
    border-radius: 20px;
    border-color: transparent;
    background-color: transparent;
    height: 45px;
    float: left;
    padding: 0;
    margin-top: 10px;
    margin-right: 5px;
}

.location-icon-menu {
    float: left ;
    -webkit-filter: invert(100%);
}
/***********************************************
            /** Drop Down //*
***********************************************/


.drop-place-icon {
    width: 25px;
    float: right;
    background-color: #ffc107;
    border-radius: 40px;
}

.delete-button {
    display: inline-block;
    float: right;
    margin-top: 8px;
    color:white;
    background: #ffc107;
}

/*Media */
@media screen and (max-width: 1380px) {
    .stormy-logo {
        padding-left: 90px;
    }

    .autocomplete {
        width: 20%;
    }
}

@media screen and (max-width: 1250px) {
    .stormy-logo {
        margin-top: 6px;
        padding-left: 40px;
        width: 50px;
    }

    .location-drop {
        width: 150px;
    }

    .location-button {
        height: auto;
        margin-top: 17px;
    }

    .stormy-title {
        font-size: 1.7em;
    }

    .place-icon {
        width: 25px;
    }

}
@media screen and (max-width: 1000px) {
    .stormy-title {
        display: none
    }

    .location-drop {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 800px) {
    .location-drop {
        padding-left: 5px;
        padding-right: 5px;
    }

    .stormy-logo {
        padding-left: 20px;
    }

    .switch-field-left, .switch-field-right {
        padding: 5px;
    }
}

@media screen and (max-width: 740px) {
    .content {
        height: 120px;
    }

    .switch-field {
        float: left;
    }

    .location-icon-menu {
        margin: 5px;
        padding-top: 5px;
    }

    .autocomplete {
        width: 92%;
        margin-right: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 760px) {

    .location-drop {
        padding-left: 5px;
        padding-right: 5px;
    }

    .stormy-logo {
        padding-left: 20px;
    }

}

@media screen and (max-width: 565px) {
    .autocomplete {
        margin-right: 10px;
    }
}

@media screen and (max-width: 399px) {
    .content {
        height: 110px;
    }

    .stormy-logo {
        width: 40px;
        padding-bottom: 0;
        padding-top: 5px;
    }

    .location-button {
        margin-left: 0;
        margin-top: 12px;
    }

    .location-icon-menu {
        margin-top: 7px;
        padding-top: 0;
    }
}




