.hourly-item {
    width: 18%;
    margin: 2px;
    height: 170px;
    display: inline-block;
    background-color: #cfd8dc;
    border-radius: 10px;
    text-align: center;
}

.hourly-container {
    white-space: nowrap;
    overflow: auto;
    margin: 10px;
    padding-bottom: 30px;
}

.hourly-icon {
    width: 30px;
}

.hourly-condition {
    font-weight: 300;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.hourly-temperature{
    font-size: 1.2em;
    margin-bottom: 3px;
}

.hourly-hour {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 3px;
}

@media screen  and (max-width: 800px){
    .hourly-item {
        width: 25%;
    }
}

@media screen  and (max-width: 600px){
    .hourly-item {
        width: 30%;
    }
}
@media screen  and (max-width: 500px){
    .hourly-item {
        width: 35%;
    }
}
@media screen  and (max-width: 400px){
    .hourly-item {
        width: 40%;
    }
}

@media screen  and (max-width: 360px){
    .hourly-item {
        width: 43%;
    }
}