/**Colors
    colorPrimary #039be5
    colorPrimaryDark #1e88e5
    colorAccent #ffc107
    colorAccentDark #2654d0
 */



@keyframes slideInFromLeft {
    from { opacity: 0}
    to   { opacity: 1}
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
    background-color: #f4f5f7;
    animation: slideInFromLeft 1s;
}
