.shadow-container {
    text-align: center;
    width: 40%;
    margin: 15px auto;
    -webkit-box-shadow:  2px 3px 4px 2px #ccc;
    -moz-box-shadow:    2px 3px 4px 2px #ccc;
    box-shadow:         2px 3px 4px 2px #ccc;
    background-color: white;
    padding: 5px 0px;
}

.title {
    text-align: center;
}

body {
    min-width: 400px;
}

/** MEDIA  */

@media screen and (max-width: 1764px) {
    .shadow-container {
        width: 45%;
    }
}

@media screen and (max-width: 1600px) {
    .shadow-container {
        width: 50%;
    }
}

@media screen and (max-width: 1500px) {
    .shadow-container {
        width: 60%;
    }
}

@media screen and (max-width: 1350px) {
    .shadow-container {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .shadow-container {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .shadow-container {
        width: 95%;
    }
}